CountingPeople.json
[{"id":"60f6a305.7c92ac","type":"tab","label":"CountingPeople","disabled":false,"info":""},{"id":"dd57669f.2fb758","type":"ui_form","z":"60f6a305.7c92ac","name":"","label":"","group":"5c736fa7.c6428","order":1,"width":"6","height":"14","options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Mobile Number","value":"mobile","type":"text","required":true,"rows":null}],"formValue":{"name":"","mobile":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":70,"y":40,"wires":[["60b0c429.92c25c"]]},{"id":"54f5ef61.dbf4c","type":"cloudant out","z":"60f6a305.7c92ac","name":"","cloudant":"","database":"mask","service":"node-red-oznyt-cloudant-1590138970750-78397","payonly":false,"operation":"insert","x":330,"y":200,"wires":[]},{"id":"af29f073.21d3f","type":"function","z":"60f6a305.7c92ac","name":"","func":"if (msg.payload.try!=1)\n{var name=global.get('name');\nvar mobile=global.get('mobile');\nmsg.payload={\n  'name':name,\n  'mobile':mobile,\n};\nmsg.payload.pay='PAY';\nreturn msg;}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["54f5ef61.dbf4c","d55e8f87.a7a6f"]]},{"id":"f7407f3a.3ba4","type":"cloudant in","z":"60f6a305.7c92ac","name":"","cloudant":"","database":"mask","service":"node-red-oznyt-cloudant-1590138970750-78397","search":"_all_","design":"","index":"","x":110,"y":240,"wires":[["31945d85.472362"]]},{"id":"60b0c429.92c25c","type":"function","z":"60f6a305.7c92ac","name":"globalised","func":"global.set('name',msg.payload.name);\nglobal.set('mobile',msg.payload.mobile);\nreturn msg;","outputs":1,"noerr":0,"x":100,"y":140,"wires":[["f7407f3a.3ba4"]]},{"id":"31945d85.472362","type":"function","z":"60f6a305.7c92ac","name":"capacity","func":"msg.payload.try=0;\nif (msg.payload.length>5){\n    msg.payload.try=1\n}\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":340,"wires":[["af29f073.21d3f","d55e8f87.a7a6f"]]},{"id":"d55e8f87.a7a6f","type":"function","z":"60f6a305.7c92ac","name":"","func":"if (msg.payload.try==1)\n{msg.payload.message=\"SORRY! Capacity of Bus is FULL ! Please do not try to pay\"\nmsg.payload.try=1;\nreturn msg;\n    \n}\nmsg.payload.message=\"Please pay to enjoy your ride\";\nmsg.payload.try=0;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":400,"wires":[["9d51913e.e3edf"]]},{"id":"9d51913e.e3edf","type":"ui_template","z":"60f6a305.7c92ac","group":"5c736fa7.c6428","name":"Deviator","order":2,"width":"6","height":"3","format":"<html>\n    <head>\n        <style>\n            button{\n                background-color: #FF0040; \n  border: 2px;border-radius: 8px;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n            }\n        </style>\n    </head>\n    <body>\n        <button id='pay' onclick='Fill()'><font id='try'>{{(msg.payload.try===0)?'Payment To Enjoy Journey' : 'Capacity is Full'}}</font></button>\n        <script>\n            function Fill(){\n                var x=document.getElementById('try').innerHTML;\n            \n                if (x=='Capacity is Full'){\n                    alert(\"Sorry ! our capacity if full\");\n                    window.location.href='https://node-red-pmqsl.eu-gb.mybluemix.net/ui/#!/0?socketid=DuUtmz2J9R5TyCDBAAEu';}\n                else{\n                    \n                     window.location.href='https://node-red-oznyt.eu-gb.mybluemix.net/ui/#!/1?socketid=klgH_ucm0qogKGyDAAAW';}\n            }\n        </script>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":340,"wires":[[]]},{"id":"37a70665.8e23fa","type":"ui_template","z":"60f6a305.7c92ac","group":"b65f77e2.b2e368","name":"Payment","order":0,"width":"6","height":"10","format":"<html>\n    <head>\n        <style>\n            button{\n                background-color: #FF0040; \n  border: 2px;border-radius: 8px;\n  color: white;\n  padding: 12px 28px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 14px;\n            }\n    #card{\n        background-color: skyblue;\n        font-size: 12px;\n    }\n    input{\n        width:80px;\n    }\n    table{\n        width:100%;\n        height:auto;\n        padding:3px;\n    }\n    td{\n        width:15%;\n    }\n    \n        </style>\n    </head>\n    <body>\n        <br>\n        <br>\n        <button id='card' onclick=\"card()\">\n            Enter your details\n        </button>\n        <div id='replace'>\n            <br><div width='100%'>\n            <img src='https://th.bing.com/th/id/OIP.fXqw0vIQVghOoJDsdaEX9gHaFj?pid=Api&rs=1' width='30%' style=\"position:absolute;left:35%;\" /><div><br><br>\n            <br><br><br><b>UPI ID : </b><input style=\"width:60%;\" type='text' placeholder='**********@UPI' name='upi' />\n            <br><br><b>-----------------------OR----------------------</b><br>\n            <h2 color='Pink' align='center'><u>Debit Card</u></h2>\n            <div width='100%'>\n            <table  border='1px' color='white'>\n                <tr width='100%'>\n                    <td colspan=\"4\"><b>CARD NUMBER :</b></td></tr><tr><td colspan=\"4\"><input style=\"width:80%;\"type='text' placeholder='XXXX-XXXX-XXXX-XXXX' name='card' /></td></tr>\n                    <tr><td><b>MONTH</b></td><td><b>YEAR</b></td><td colspan=\"2\">CVV</td></tr>\n                    <tr><td><input width=\"8px\" type='Number' placeholder='XX' /></td><td><input width=\"8px\" type=\"Number\" placeholder='XXXX' /></td><td colspan=\"2\"><input width=\"16px\" type=\"Number\" placeholder='XXXX' /></td></tr>\n            </table>\n            </div>\n        </div><br>\n        <button onclick='submit()' style=\"position:absolute;left:38%;\" id='submit'>PAY</button>\n        <script>\n            function submit(){\n               window.location.href='https://node-red-oznyt.eu-gb.mybluemix.net/ui/#!/1?socketid=klgH_ucm0qogKGyDAAAW'; \n            }\n        </script>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":120,"wires":[[]]},{"id":"b6442038.a3a8c","type":"debug","z":"60f6a305.7c92ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.try","targetType":"msg","x":650,"y":440,"wires":[]},{"id":"5c736fa7.c6428","type":"ui_group","z":"","name":"Test","tab":"a387b158.ae7be","order":1,"disp":true,"width":"6","collapse":false},{"id":"b65f77e2.b2e368","type":"ui_group","z":"","name":"Pay","tab":"6e2947d2.baa918","order":1,"disp":false,"width":"6","collapse":false},{"id":"a387b158.ae7be","type":"ui_tab","z":"","name":"Test","icon":"dashboard","disabled":false,"hidden":false},{"id":"6e2947d2.baa918","type":"ui_tab","z":"","name":"Payment","icon":"dashboard","disabled":false,"hidden":true}]