foodPrediction.json
[{"id":"8a0a3b7f.426758","type":"tab","label":"Food_predict","disabled":false,"info":""},{"id":"423f256c.8d379c","type":"ui_form","z":"8a0a3b7f.426758","name":"","label":"","group":"859ce569.2c01c8","order":1,"width":"6","height":"14","options":[{"label":"Weight(kg)","value":"weight","type":"number","required":true,"rows":null},{"label":"Height(m)","value":"height","type":"text","required":true,"rows":null}],"formValue":{"weight":"","height":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":200,"wires":[["ac0e271a.286928"]]},{"id":"ac0e271a.286928","type":"function","z":"8a0a3b7f.426758","name":"","func":"var bmi=(msg.payload.weight)/(msg.payload.height)**2;\nif((bmi)<=18.5){\n    msg.payload.cond='YOUR BMI is low. People who are underweight have increased risks for health problems, such as weakened immunity, fragile bones, hair loss, anemia and problems with fertility';\n    msg.payload.food= 'Increasing your calories by about 500 per day will help you gain about 1 pound per week. Try adding nutrient-dense, high-calorie foods to your diet, such as nuts, seeds, peanut butter, avocados, hummus and vegetable oils. Other healthy choices include whole grains, legumes, lean meats, poultry, seafood, eggs, low-fat dairy foods, soy products, fruits and vegetables.';\n}\nelse if (bmi>=24.9){\n    msg.payload.cond='YOUR BMI is High. Diabetes and heart disease are health problems that can stem from being overweight. Being overweight can also affect a persons joints, breathing, sleep, mood, and energy levels. So being overweight can affect a persons entire quality of life.';\n    msg.payload.food='A healthy weight loss diet can be considered to be filled with nutrient dense foods like fruits, vegetables, grains, legumes, nuts, seeds, lean proteins and heart healthy fats';\n}\nelse{\n    msg.payload.cond=\"Your BMI is Normal. Be healthy\";\n    msg.payload.food=' Almonds, walnuts,Whole milk, full-fat yogurt, Potatoes, sweet potatoes, Potatoes, sweet potatoes.';\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["95a52d0b.fffa7"]]},{"id":"95a52d0b.fffa7","type":"ui_template","z":"8a0a3b7f.426758","group":"859ce569.2c01c8","name":"","order":1,"width":"5","height":"10","format":"<html>\n<style>\n\n</style>\n<body>\n<img src='https://th.bing.com/th/id/OIP.dglB8VeT1eamuSCCc9OIQwHaE8?pid=Api&rs=1' alter='logo'/>\n<br><div style=\"align:center;padding: 7px;margin-left:10%;background-color:#80ffbf;align:center;display: block; border-radius: 20px;box-shadow: 2px 2px 5px yellow;\">\n    <b><u>CONDITION-</u></b><br><font color='red'>{{msg.payload.food}}</font>\n    <hr><b><u>FOOD-</u></b><br><font color='gray'>{{msg.payload.food}}</font></div>\n<br>\n<button onclick ='full_()' style=\"align:center;padding: 7px;margin-left:10%;background-color:skyblue;align:center;display: block; border-radius: 20px;box-shadow: rgba(0,0,0,0.8) 0 0 10px;border-collapse: collapse;\">Exercise</button>\n<br>\n<button onclick ='full_2()' id='imunity' style=\"align:center;padding: 7px;margin-left:10%;background-color:skyblue;align:center;display: block; border-radius: 20px;box-shadow: rgba(0,0,0,0.8) 0 0 10px;border-collapse: collapse;\">Imunity Food</button>\n\n<script>\nfunction full_(){\n    window.location.href = 'https://drive.google.com/file/d/1TAK37LRKtcr-FV4Vpf1IjIU2qooU9B6O/view?usp=sharing';\n}  \nfunction full_2(){\n    document.getElementById('imunity').innerHTML=`\n    <u>Carbohydrates</u>- <p>both sugars and starches, eventually break down into glucose.It find in all food except eggs , meat and seafood .</p>\n    <u>Fat</u>-<p>Fat is a structural component of cells and blood vessels.You also need fat to absorb vitamins A, D, E and K, as well as to provide energy when your system runs out of glucose.Found in kinless chicken breast, fish and milk product.</p>\n    <u>Fibers</u>-<p>Fiber is a carbohydrate; however, it does not provide calories or convert to glucose.Fiber only comes from plant-based foods, meaning you need to eat more fresh fruits, vegetables, beans and lentils </p>\n    <u>Protein</u>-<p>Protein is well-known for its role in adding to lean muscle mass, but protein also gives structure to all cells and provides energy when carbs and fat are not available.Protein comes from meat, poultry, seafood, beans and peas, eggs, processed soy products, nuts, and seeds </p>\n    <u>Sodium</u>-<p>Electrolyte minerals, like sodium, balance fluid in and around cells, allowing electricity to flow through. Not only does this process make your heart beat, it also allows muscles to contract and relax.Get by kitchen salt</p>\n    <u>Vitamins and Minerals</u>-<p>It is well-known that vitamins and minerals are important for our health. Our bodies are unable to produce most vitamins and minerals on their own, but need them since they play a crucial role in numerous processes.Some food avocados, eggs, nuts, seed, green vegetable, fish, berries, milk and grains</p>.\n    `;\n}\n</script></body>\n</html>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":540,"y":200,"wires":[[]]},{"id":"fc791911.bd47e8","type":"ui_template","z":"8a0a3b7f.426758","group":"f8fa2e86.2cdc3","name":"Chat bot","order":0,"width":"7","height":"11","format":"<!DOCTYPE html>\n<html>\n<body>\n<h2><font color='#DD0E42'>Chat about covid</font></h2>\n\n<iframe src=\"https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=eu-gb&integrationID=6a132945-9a5a-4fd6-ab80-af43e9549f1c&serviceInstanceID=a079a9f6-c1cf-4dc1-830e-45c5a884e423\" width=\"100%\" height=\"100%\" title=\"get updates here\">\n</iframe>\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":380,"y":320,"wires":[[]]},{"id":"859ce569.2c01c8","type":"ui_group","z":"","name":"Food predection","tab":"21b18015.ea29","order":1,"disp":true,"width":"6","collapse":false},{"id":"f8fa2e86.2cdc3","type":"ui_group","z":"","name":"Covid bot","tab":"df861fa8.a159c","order":1,"disp":false,"width":"7","collapse":false},{"id":"21b18015.ea29","type":"ui_tab","z":"","name":"Food","icon":"dashboard","order":31,"disabled":false,"hidden":false},{"id":"df861fa8.a159c","type":"ui_tab","z":"","name":"Chat bot","icon":"dashboard","disabled":false,"hidden":false}]